@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
}

ion-icon {
    font-size: 24px;
    margin-right: 16px;
}

ion-icon[name="play-outline"] {
    color: #333333;
    --ionicon-stroke-width: 48px;
}